{% macro render_raw_field(field, show_label=False) %}
    {% if show_label %}
        {{ field.label }}
    {% endif %}

    {{ field(placeholder=field.label.text,**kwargs)|safe }}

    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
{% endmacro %}


{% macro render_field(field, show_label=False) %}
  <div class="form-group">
    {% if show_label %}
    {{ field.label }}
    {% endif %}
    {{ field(placeholder=field.label.text,class="form-control",**kwargs)|safe }}
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    
  </div>
{% endmacro %}


{% macro render_cloth(cloth, can_edit=False) %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="produto">
            <div class="header-produto">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a href="store.html"><img src="{{ cloth.store.logo.url}}" height="30" width="30" class="img-responsive img-circle" alt="{{ cloth.brand.name|safe }}"></a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h2><a href="store.html">{{ cloth.store.name }}</a></h2>
                        <p>Título, cor, marca</p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="item-favorito"><i class="fa fa-star"></i></div>
                    </div>
                </div>
            </div>
            <div class="image-produto">
                <p><a href="#"><img src="{{ cloth.image.url }}" height="360" width="230" alt="" class="img-responsive"></a></p>
            </div>
            <div class="desc-produto">
                <div class="price">R$ {{ cloth.price }}</div>
                <div class="name"><h3>{{ cloth.name }}</h3></div>
                <div class="description"><p><strong>Descrição: </strong>{{ cloth.description }}</p></div>
            </div>
            <div class="option-produto">
                {% if can_edit: %}
                <div class="favorito item-circle"><a href="#" title="Tornar favorito"><i class="fa fa-star"></i></a></div>
                <div class="editar item-circle"><a data-toggle="modal" href='#modal-edit-item' title="Editar"><i class="fa fa-cog"></i></a></div>
                <div class="remover item-circle"><a href="#" title="Remover da loja"><i class="fa fa-close"></i></a></div>
                <div class="apagar item-circle"><a href="#" title="Apagar"><i class="fa fa-trash"></i></a></div>

                {% else: %}
                <div class="local item-circle"><a href="#"><i class="fa fa-map-marker"></i></a></div>
                <div class="curtir item-circle"><a href="#"><i class="fa fa-facebook"></i></a></div>
                {% endif %}

            </div>
        </div>
    </div>
{% endmacro %}