{% macro render_field(field, show_label=False) %}
  <div class="form-group">
    {% if show_label %}
    {{ field.label }}
    {% endif %}
    {{ field(placeholder=field.label.text,class="form-control",**kwargs)|safe }}
    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    
  </div>
{% endmacro %}

{% macro render_cloth(cloth) %}
  <div class="cloth">
    <span>{{ cloth.name }}</span>
    <img src="{{ cloth.image.url }}" />
    <p>{{ cloth.description|safe }}</p>
  </div>
{% endmacro %}