<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="prova, ai" />
    <meta name="description" content="Prova aí!">

    <title>{% block title %}{% endblock %} Prova Aí !</title>
    
    <link href="{{ url_for('static', filename='img/icon.png') }}" rel="icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" href="/css/fonts-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css"/>
    {% block head_tail %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}

    <section id="content">{% block content %}{% endblock %}</section>

    <footer>
        {% block footer %}
        <div class="container">
            <div class="row">
                <div id="copyright">
                    <p>@Company ® - All rights reserved</p>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cycle2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-tagsinput.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-tagsinput-angular.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/blur.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block tail %}{% endblock %}
</body>
