<div id="dialog_add_cloth">

{% from "common/_macros.html" import render_field %}

<div id="left" style="float: left;">
	<h1>Edite sua peça</h1>
	<form id="form_add_cloth">
		<dl>
		{{ render_field(form['add_cloth'].name) }}
		{{ render_field(form['add_cloth'].color) }}
		{{ render_field(form['add_cloth'].brand) }}
		{{ render_field(form['add_cloth'].price) }}
		{{ render_field(form['add_cloth'].fullname) }}
		{{ render_field(form['add_cloth'].description) }}
		{{ render_field(form['add_cloth'].photo,onchange='PreviewImage()') }}
		{{ render_field(form['add_cloth'].category) }}
		{{ render_field(form['add_cloth'].sex) }}
		{{ render_field(form['add_cloth'].favorite) }}
		</dl>
		{{ form['add_cloth'].hidden_tag() }}
	</form>
</div>
<div id="right" style="float: right;">
	<h1>Visualize sua peça</h1>

	<img id="uploadPreview" style="width: 100px; height: 100px;" />
	<button type="submit" form="form_add_cloth" formaction="{{ url_for('StoreView:add') }}" formmethod="post" formenctype="multipart/form-data">publicar peça</button>
	<button>Cancelar</button>
</div>

<script type="text/javascript">
	function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("photo").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
</script>

</div>

