{% extends "common/base.html" %}
{% from "common/_macros.html" import render_cloth %}


{% block title %}Minha Loja{% endblock %}

{% block content %}
    <div class="row header-loja">
        <div class="logo col-xs-12 col-sm-2 col-md-4 col-lg-2">
            <p><img src="{{ store.logo.url }}" width="120" alt="" class="img-responsive img-circle"></p>
        </div>
        <div class="descricao col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <form action="" class="store-info-basico
            ">
                <div class="form-group">
                    <input type="text" value="{{ store.name }}" disabled="disabled" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <textarea name="" id="" rows="3" class="form-control" disabled="disabled">{{ store.description }}</textarea>
                </div>
            </form>

            <ul class="midias">
                <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p>
                <a href="#" class="editar-descricao-loja btn btn-block btn-default"><i class="fa fa-pencil"></i> Editar</a>
                <a href="#" class="salvar-descricao-loja hidden btn btn-block btn-default"><i class="fa fa-save"></i> Salvar</a>
            </p>

            <p><a href="{{ url_for('StoreView:settings', id=store.id) }}" class="btn btn-block btn-default"><i class="fa fa-cogs"></i> Configurações</a></p>
            <p><a data-toggle="modal" href='#dialog' class="btn btn-block btn-default"><i class="fa fa-plus"></i> Adicionar uma peça</a></p>
        </div> <!-- menu -->
    </div> <!-- header-loja -->

    <hr />

    <div class="container">
        <div class="titulo-interno">
            <h2>Todas as peças</h2>
        </div>

        <div class="row produtos-lista">
            {% for cloth in store.showcase %}
                {{ render_cloth(cloth, can_edit=True) }}
            {% endfor %}
        </div>
    </div> <!-- Todas as pecas -->

{% endblock %}

{% block tail %}
    {% include 'store/modal_add_cloth.html' %}

    <script type="text/javascript">
        $(function(){
            $(".editar-descricao-loja").click(function(){
                $(".store-info-basico input, .store-info-basico textarea").removeAttr('disabled');
                $(this).addClass('hidden');
                $(".salvar-descricao-loja").removeClass('hidden');
            });


            $(".salvar-descricao-loja").click(function(){
                $(".store-info-basico input, .store-info-basico textarea").attr('disabled', 'disabled');
                $(this).addClass('hidden');
                $(".editar-descricao-loja").removeClass('hidden');
            });
        });


        {% if auto_show_dialog %}
            $('#dialog').modal('show'); 
        {% endif %}
    </script>

{% endblock %}