<div id="dialog">
    <h1>Sua loja está pronta.</h1>
    <h2>Milhões de lojas estão esperando você</h2>

    <video width="400" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
    </video>

    Agora com o prova ai, você pode ter num único lugar todas as roupas que estão sendo vendidas perto de você.

    <button type="button" onClick="window.location='{{ url_for('StoreView:index') }}';">Ir para sua loja</button>
</div>