{% extends "common/base.html" %}

{% block content %}

	{% if user.is_anonymous() %}
		<section>
		    <div id="conteudoTopoHome">
		        <h2>Descubra que as lojas estão bem mais perto do que você imagina.</h2>
				<div id="botaoCadastre-se">
					<a href="{{ url_for('register') }}" title="Cadastre-se já!" class="btn btn-default btn-danger">Criar uma conta</a>
				</div>
		    </div>
		</section>
	{% endif %}

	<!-- {% include 'home/slide.html' %} -->
	{% include 'home/produtosHome.html' %}

{% endblock %}

{% block tail %}
	{% if user.first_login %}
		{% include 'home/welcome.html' %}
		<script>
		    $(window).load(function(){
		        $('#dialog').modal('show');
		    });
		</script>
	{% endif %}
{% endblock %}