{% extends "common/base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
{% from "common/_macros.html" import render_field %}

<div id="conteudoTopoHome">
    <h2>Descubra que as lojas estão bem mais perto do que você imagina.</h2>
    <p>Preencha os campos abaixo para criar o cadastro</p>
    <a href="#" title="Login com Facebook" id="botaoLogarFacebook">
        <img src="{{ url_for('static', filename='img/login-facebook.png') }}" alt="Login at Prova Aí with Facebook" class="img-responsive">
    </a>
</div>

<div id="formularioDeCadastro">
    <div class="container">
        <div class="row">
            <form role="form" id="formfield" action="{{ url_for('register') }}" method="post" class="formCadastro" id="registerForm" name="registerForm">
                {{ form.csrf_token }}
                {{ render_field(form.name, class='form-control') }}
                {{ render_field(form.last_name) }}
                {{ render_field(form.age) }}
                {{ render_field(form.email) }}
                {{ render_field(form.email_confirm) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                {{ render_field(form.address) }}
                {{ render_field(form.city) }}
                {{ render_field(form.zip_code) }}
                {{ render_field(form.accept_news, show_label=True) }}
                {{ render_field(form.accept_tos, show_label=True) }}
                <input id="submitBtn" type="submit" value="Concluir cadastro" class="btn btn-default btn-danger" />

            </form>

        </div>
    </div>
</div>


{% endblock %}
