{% from "common/_macros.html" import render_cloth %}

<section>
    <div id="produtosHome">
        <div class="container">
            <div class="row">
                <div class="pecasHome col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="listaPecas">
                        {% for cloth in showcase %}
                            {{ render_cloth(cloth) }}
                        {% endfor %}
                    </ul>
                </div><!-- pecasHome -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- produtosHome -->
</section>