<div id="dialog" class="modal fade modalCadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Bem-vindo ao Prova Aí!</h1>
                <p>Onde milhões de lojas estão esperando por você!</p>
            </div>
            <div class="modal-body">
                <video width="568" controls>
					<source src="mov_bbb.mp4" type="video/mp4">
					<source src="mov_bbb.ogg" type="video/ogg">
					Seu navegador não suporta video HTML5.
				</video>
				<p>Agora com o Prova Aí, você pode ter em um único lugar todas roupas que estão sendo vendidas perto de você!</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('register_store') }}" class="btn btn-warning btn-lojista">Lojista? Clique aqui</a>
                <a href="{{ url_for('index') }}?action=register_done" id="submit" class="btn btn-success btn-concluir">Concluir cadastro</a>
            </div>
        </div>
    </div>
</div>